{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
    <h1>{{ course.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <td>{{ course.description }}</td>
            </tr>
        </tbody>
    </table>
    <h4>Уроки:</h4>
    {% for lesson in course.lesson %}
    <table class="table">
        <tbody>
            <tr>
                <td>{{ lesson.serialNumber }}</td>
                <td><a href="{{ path('app_lesson_show', {'id': lesson.id}) }}">{{ lesson.name }}</a></td>  
            </tr>
        </tbody>
    </table>
    {% endfor %}

    <a href="{{ path('app_course_index') }}">back to list</a>

    <a href="{{ path('app_course_edit', {'id': course.id}) }}">edit</a>

    <a href="{{ path('app_lesson_new') }}">Create new</a>

    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
